
body {
    
    background-color: #0f172a;                  
    color: #e5e7eb;                            
    margin: 0;
}


.nav {
    background-color: #020617;
    padding: 15px;
}

.nav a {
    color: #93c5fd;                              
    text-decoration: none;
    font-weight: bold;
}


.container {
    max-width: 900px;
    margin: auto;
    padding: 40px;
}


.section {
    margin-bottom: 40px;
}


h1, h2 {
    color: #f8fafc;                              
}


ol {
    padding-left: 20px;
}

ul {
    padding-left: 20px;
}
a[href] {
    color: #ffffff;                              
    
}